
  .price-button {
      width: 123px;
      border: 1px solid lightgray;
  }



  @media screen and (min-width: 800px) {
    .price-button {
        width: 690px;
        border: 1px solid lightgray;
    }
}
  @media screen and (min-width: 1200px) {
    .price-button {
        width: 123px;
        border: 1px solid lightgray;
    }
}