.main-header {
    background-color: #E9E9E9;
}

.main-header .logo a {
    text-decoration: none;
    color: #102a42;
}

.shop-text {
    margin-top: -8px;
    color: #645F5F;
    font-size: 18px;
    line-height: 22px;
}

.nav-menu {
    height: 45px;
    background-color: #FBFBFB;
    border-radius: 30px;
    border: 1px solid #969393;

}

.nav-menu input {
    height: 45px;
    width: 100%;
    background-color: #FBFBFB;
    border-radius: 30px;
    border: 1px solid #969393;
}

/* Style the input field inside the navbar */
.nav-menu input[type=text] {
    text-align: left;
    padding: 8px;
    font-size: 16px;
    border: none;
}


/* .nav-chosen-category {
    border-radius: 30px;
    background-color: #CEC7C7;
} */

.nav-menu-item {
    display: inline-block;
    font-size: 18px;
    color: #565353;
}

.nav-menu-item:hover {
    border-radius: 30px;
    background-color: #CEC7C7;
    
}

.nav-menu-item a {
    font-size: 14px;
    text-decoration: none;
    color: #565353;
}

.nav-menu-item a:hover {
    text-decoration: none;
    color: #565353;
}

.laptop-pic {
    width: 329px;
    height: 330px;
}

.main-title {
    font-size: 24px;
}

.mainInfo {
    display: none;
}

.item-counter {
    color: white;
    padding: 3px 8px 3px 8px;
    border-radius: 50%;
    margin-left: -6px;
    background-color: red;
}