.main-header {
    background-color: #E9E9E9;
    height: 425px;
}

.shop-text {
    margin-top: -8px;
    color: #645F5F;
    font-size: 18px;
    line-height: 22px;
}

.main-picture {

}

.laptop-pic {
    width: 329px;
    height: 330px;
}