.container {
    display: block;
}

.header-shop {
    padding-bottom: .5rem;
}

.header-shop h2 {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5;
    border-bottom: 1px solid black;
}

.row-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr, 1fr, 1fr));
    grid-gap: 5px;
}

.column {
    margin: 0;
    padding: 0;
}

.card-product {
    padding: 4px;
    background-color: #b18c5a;
    border: 1px solid #000000;
    height: 460px;
    width: 280px;

}

.card-product h5 {
    font-size: 1.1rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 15px;
}

.card-product p {
    font-size: 0.8rem;
    color: black;
}

.card-product:hover {
    border: 2px solid #000000;
}

@media screen and (min-width: 700px) {
    .row-items {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        grid-gap: 5px;
    }

    .column {
        max-width: 280px;
    }
}